.project__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .project__item {
        background: var(--color-bg-variant);
        padding: 1.2rem;
        border: 1px solid transparent;
        border-radius: 2rem;
        transition: var(--transition);
        text-align: center;

        &:hover {
            background: transparent;
            border-color: var(--color-primary-variant);
            box-shadow: 0 0 12px 0 var(--color-primary);
        }

        .project__item-image {
            border-radius: 1.5rem;
            overflow: hidden;
        }

        h3 {
            margin: 1.2rem 0 2rem;
        }
    }

}

/* ======================  Media Queries(Medium Devices)  ============================ */
@media screen and (max-width:1024px) {
    .project__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}


/* ======================  Media Queries(Small Devices)  ============================ */
@media screen and (max-width:600px) {
    .project__container {
            grid-template-columns: 1fr;
            gap: 1.5rem;
        }
}