.about__container {
  display: grid;
  gap: 15%;

  .about__content {
    .about__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;

      .about__card {
        background: var(--color-bg-variant);
        border: 1px solid transparent;
        border-radius: 1rem;
        padding: 2rem;
        text-align: center;
        transition: var(--transition);

        &:hover {
          background: transparent;
          border-color: var(--color-bg-variant);
          cursor: default;
          box-shadow: 0 0 12px 0 var(--color-primary);
        }

        .about__icon {
          color: var(--color-primary);
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }

        h5 {
          font-size: 1rem;
          color: var(--color-white);
        }

        small {
          font-size: 0.7rem;
          color: var(--color-light);
        }
      }
    }
  }

  p {
    margin: 2rem 0 2.5rem;
    color: var(--color-light);
  }
}

/* ======================  Media Queries(Medium Devices)  ============================ */
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;

    .about__me {
      width: 50%;
      margin: 2rem auto 4rem;
    }
  }
}

/* ======================  Media Queries(Small Devices)  ============================ */
@media screen and (max-width: 600px) {
  .about__container {

    .about__me {
      width: 50%;
      margin: 2rem auto 4rem;
    }

    .about__content {
      text-align: center;

      .about__cards {
        grid-template-columns: 1fr 1fr;
      }

      p {
        margin: 1.5rem 0;
        text-align: justify;
      }
    }
  }
}
