nav{
    background: rgba(0, 0, 0, 0.2);
    width: max-content;
    display: block;
    padding: 0.7rem 1.5rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5rem;
    display: flex;
    gap: 1.5rem;
    border-radius: 5rem;
    backdrop-filter: blur(15px);

}

nav a{
    background: transparent;
    padding: 0.5rem;
    font-size: 1.6rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);

    &:hover{
        background: var(--color-primary-variant);
    }

}

nav a.active{
    background: var(--color-primary);
    color: var(--color-white);
}